.u-section-1 .u-sheet-1 {
  min-height: 78px;
}

.u-section-1 .u-text-1 {
  line-height: 25.6px;
  font-weight: normal;
  margin: 26px 106px 1px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 108px -1px 21px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 386px;
}

.u-section-2 .u-form-1 {
  width: 570px;
  margin: 10px auto 30px;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-form-group-3 {
  width: 100%;
}

.u-section-2 .u-form-group-4 {
  width: 100%;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}